


.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  .container {
    max-width: 960px;
  }
  .home_content{
 text-align: center;
 text-decoration: solid;
margin-top: 25px;

  }
  .home_img{
    /* height: 200px; */
    width: 150px;  
    /* width: 100%; */
    height: auto;
    position: relative;
      left: 560px;
      bottom: 10px;
    
    border-radius: 55%;

  }
   @media(max-width:1028){
       .home_img{
         width: 100%;
         height: auto;
         position: relative;
         right: 200px;
         bottom: 100px;
       }
   }
  #end{
    text-align: center;
  }
  /* contact us  */
  input{
    margin: 15px;

    width: 400px;
  }
 
  textarea{
    width: 400px;
    height: 77px;
  }